a.editBet, a.placeBet {
	display: inline-block;
	float: right;
	margin-top: 4px;
}

span.readOnlyBetScore {
	margin:10px;
	float:right;
}

input.inputBet {
	width: 20px;
	display: inline-block;
	text-align:center;
}