a.editBet, a.placeBet {
	display: inline-block;
	float: right;
	margin-top: 4px;
}

span.readOnlyBetScore {
	margin:10px;
	float:right;
}

input.inputBet {
	width: 20px;
	display: inline-block;
	text-align:center;
}

div.bubbleGroup {
	border: 0 !important; 
	background: 0 !important; 
	padding-top: 8px !important;
   	right: 41px !important;
}

div.bubbleGroup div.ui-li-count {
	float: right;
	display: inline-block;
	position: static;
	margin-left: 2px;
}

.left {
	float:left;
}

img.bubbleIcon {
	margin-right: 4px;	
	margin-left:-2px;
}